.detail {
    float: left;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 2px 2px 4px #dee1e7;
    color: #2b2b2b;
}

a {
    text-decoration: none;
    color: #2b2b2b;
    font-weight: bolder;
    box-sizing: content-box;
}

dd {
    height: 32px;
    width: 200px;
}

.tab__selected {
    border-bottom: 3px solid #0f5dcb;
}

.tab__selected a {
    color: #0f5dcb;
}

.detail__title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #d4d6dc;
}

.detail__title__name {
    display: flex;
    height: 42px;
    padding-right: 0;
    padding-left: 20px;
}

.icon {
    max-width: 26px;
    max-height: 26px;
    padding-right: 10px;
    margin-top: 7px;
}

.coinName {
    margin-top: 10px;
    font-size: 20px;
    font-family: Noto Sans KR,sans-serif;
}

.detail__market {
    position: relative;
    display: block;
    padding: 18px 20px 14px 10px;
    overflow: hidden;
}

.detail__title__tab {
    padding-top: 10px;
    padding-right: 30px;
    width: 30%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.price {
    float: left;
    width: 320px;
    padding-left: 20px;
}

.price__price {
    display: flex;
}

.price__price span {
    font-size: 35px;
    font-weight: 500;
    color: #0f5dcb;
}

.price__price p {
    color: #0f5dcb;
    font-size: 15px;
    font-weight: 500;
    padding-top: 20px;
    padding-left: 3px;
}


.price__contrast {
    float: left;
}

.price__contrast{
    padding-top: 5px;
    color: #666;
    font-size: small;
}

.price__contrast span {
    padding-left: 10px;
    font-size: medium;
    font-weight: bold;
    color: #0f5dcb;
    
}

.price__highlowvolume {
    display: flex;
    float: right;
    width: 490px;
    justify-content: space-between;
}

.detail__foreign {
    display: flex;
    justify-content: space-between;
    height: 18px;
    padding: 7px 80px 7px 30px;
    background-color: #f9fafc;
    border-top: 1px solid #f5f6fa;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.foreign__bitfinex {
    display: flex;
}

.foreign__kraken {
    display: flex;
}

.foreign__liquid {
    display: flex;
}

.foreign__title {
    font-size: 13px;
}

.foreign__title {
    padding-right: 10px;
    color: #3f8ac9;
    font-size: 15px;
}

.detail__foreign strong{
    color: #2b2b2b;
    font-size: 15px;
}

.detail__chart {
    display: block;
    height: 451px;
}

.price__high {
    width: 200px;
    display: flex;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom: 1px solid #666;
    font-size: 13px;
}

.price__high strong {
    color: #e66666;
    font-weight: bold;
    font-size: 15px;
}

.price__low {
    font-size: 13px;
    padding-top: 10px;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.price__low strong {
    color: #0f5dcb;
    font-weight: bold;
    font-size: 15px;
}

.price__volume {
    display: flex;
    font-size: 13px;
    width: 250px;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}

.price__volumecost {
    padding-top: 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.arrow {
    width: 15px;
    height: 15px;
    padding: 15px 0px 0px 0px;
}