.list {
    padding-top: 20px;
    font-weight: 400;
    color: #363636;
}

.list__title {
    padding-bottom: 10px;
}

.list__searchbox {
    width: 100%;
    display: inline;
}

.list__searchbox input {
    width: 95%;
    height: 15px;
    padding: 10px 5px 10px 5px;
    border: 1px solid #b889f7;
    border-radius: 5px;
    box-shadow: 0px 0px 1px #b889f7;
    display: inline;
}

button {
    display: inline;
    margin-left: -50px;;
    border: none;
    background-color: white;
    color: #b889f7;
}